
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.mainGamePage_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* moveUp */
#mainGamePage_moveUp {

}
.ui-btn.mainGamePage_moveUp {
	margin: 4px 5px 4px 5px;
}
/* moveDown */
#mainGamePage_moveDown {

}
.ui-btn.mainGamePage_moveDown {
	margin: 4px 5px 4px 5px;
}
/* moveLeft */
#mainGamePage_moveLeft {

}
.ui-btn.mainGamePage_moveLeft {
	margin: 4px 5px 4px 5px;
}
/* moveRight */
#mainGamePage_moveRight {

}
.ui-btn.mainGamePage_moveRight {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_8 */
.mainGamePage_mobilelabel_8 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_9 */
.mainGamePage_mobilegrid_9 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.mainGamePage_mobilegrid_9_wrapper {

}
.mainGamePage_mobilegrid_9 > tr > td {
	vertical-align: top;
}
.mainGamePage_mobilegrid_9_row_0, .mainGamePage_mobilegrid_9_row_0 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_1, .mainGamePage_mobilegrid_9_row_1 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_2, .mainGamePage_mobilegrid_9_row_2 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_3, .mainGamePage_mobilegrid_9_row_3 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_4, .mainGamePage_mobilegrid_9_row_4 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_5, .mainGamePage_mobilegrid_9_row_5 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_6, .mainGamePage_mobilegrid_9_row_6 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_7, .mainGamePage_mobilegrid_9_row_7 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_8, .mainGamePage_mobilegrid_9_row_8 > td {
	height: 30px
}
.mainGamePage_mobilegrid_9_row_9, .mainGamePage_mobilegrid_9_row_9 > td {
	height: 30px
}
/* mobilegridcell_10 */
.mainGamePage_mobilegridcell_10 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_10 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* man */
.mainGamePage_man {
	margin: 4px 0px 4px 0px;
	width: 40px; height: 40px;
	display: block;
}
/* mobilegridcell_11 */
.mainGamePage_mobilegridcell_11 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_11 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_30 */
.mainGamePage_mobilegridcell_30 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_31 */
.mainGamePage_mobilegridcell_31 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_31 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_32 */
.mainGamePage_mobilegridcell_32 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_32 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_33 */
.mainGamePage_mobilegridcell_33 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_33 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_34 */
.mainGamePage_mobilegridcell_34 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_34 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_35 */
.mainGamePage_mobilegridcell_35 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_35 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_36 */
.mainGamePage_mobilegridcell_36 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_36 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_37 */
.mainGamePage_mobilegridcell_37 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_37 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_12 */
.mainGamePage_mobilegridcell_12 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_12 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_13 */
.mainGamePage_mobilegridcell_13 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_13 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_38 */
.mainGamePage_mobilegridcell_38 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_38 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_39 */
.mainGamePage_mobilegridcell_39 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_39 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_40 */
.mainGamePage_mobilegridcell_40 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_40 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_41 */
.mainGamePage_mobilegridcell_41 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_41 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_42 */
.mainGamePage_mobilegridcell_42 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_42 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_43 */
.mainGamePage_mobilegridcell_43 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_43 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_44 */
.mainGamePage_mobilegridcell_44 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_44 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_45 */
.mainGamePage_mobilegridcell_45 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_45 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_14 */
.mainGamePage_mobilegridcell_14 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_15 */
.mainGamePage_mobilegridcell_15 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_46 */
.mainGamePage_mobilegridcell_46 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_46 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_47 */
.mainGamePage_mobilegridcell_47 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_47 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_48 */
.mainGamePage_mobilegridcell_48 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_48 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_49 */
.mainGamePage_mobilegridcell_49 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_49 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* CMstore */
.mainGamePage_CMstore {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_50 */
.mainGamePage_mobilegridcell_50 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_50 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_51 */
.mainGamePage_mobilegridcell_51 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_51 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_52 */
.mainGamePage_mobilegridcell_52 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_52 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_53 */
.mainGamePage_mobilegridcell_53 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_53 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_16 */
.mainGamePage_mobilegridcell_16 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_16 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_17 */
.mainGamePage_mobilegridcell_17 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_17 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_54 */
.mainGamePage_mobilegridcell_54 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_54 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_55 */
.mainGamePage_mobilegridcell_55 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_55 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_56 */
.mainGamePage_mobilegridcell_56 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_56 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_57 */
.mainGamePage_mobilegridcell_57 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_57 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_58 */
.mainGamePage_mobilegridcell_58 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_58 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_59 */
.mainGamePage_mobilegridcell_59 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_59 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_60 */
.mainGamePage_mobilegridcell_60 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_60 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_61 */
.mainGamePage_mobilegridcell_61 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_61 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_18 */
.mainGamePage_mobilegridcell_18 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_18 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_19 */
.mainGamePage_mobilegridcell_19 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_19 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_62 */
.mainGamePage_mobilegridcell_62 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_62 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_63 */
.mainGamePage_mobilegridcell_63 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_63 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_64 */
.mainGamePage_mobilegridcell_64 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_64 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_65 */
.mainGamePage_mobilegridcell_65 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_65 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_66 */
.mainGamePage_mobilegridcell_66 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_66 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_67 */
.mainGamePage_mobilegridcell_67 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_67 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_68 */
.mainGamePage_mobilegridcell_68 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_68 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_69 */
.mainGamePage_mobilegridcell_69 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_69 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_20 */
.mainGamePage_mobilegridcell_20 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_20 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_21 */
.mainGamePage_mobilegridcell_21 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_21 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_70 */
.mainGamePage_mobilegridcell_70 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_70 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_71 */
.mainGamePage_mobilegridcell_71 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_71 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_72 */
.mainGamePage_mobilegridcell_72 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_72 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_73 */
.mainGamePage_mobilegridcell_73 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_73 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_74 */
.mainGamePage_mobilegridcell_74 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_74 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_75 */
.mainGamePage_mobilegridcell_75 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_75 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_76 */
.mainGamePage_mobilegridcell_76 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_76 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_77 */
.mainGamePage_mobilegridcell_77 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_77 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_22 */
.mainGamePage_mobilegridcell_22 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_22 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_23 */
.mainGamePage_mobilegridcell_23 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_23 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_78 */
.mainGamePage_mobilegridcell_78 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_78 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_79 */
.mainGamePage_mobilegridcell_79 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_79 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_80 */
.mainGamePage_mobilegridcell_80 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_80 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_81 */
.mainGamePage_mobilegridcell_81 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_81 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_82 */
.mainGamePage_mobilegridcell_82 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_82 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_83 */
.mainGamePage_mobilegridcell_83 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_83 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_84 */
.mainGamePage_mobilegridcell_84 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_84 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_85 */
.mainGamePage_mobilegridcell_85 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_85 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_24 */
.mainGamePage_mobilegridcell_24 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_24 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_25 */
.mainGamePage_mobilegridcell_25 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_86 */
.mainGamePage_mobilegridcell_86 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_86 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_87 */
.mainGamePage_mobilegridcell_87 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_87 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_88 */
.mainGamePage_mobilegridcell_88 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_88 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_89 */
.mainGamePage_mobilegridcell_89 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_89 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_90 */
.mainGamePage_mobilegridcell_90 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_90 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_91 */
.mainGamePage_mobilegridcell_91 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_91 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_92 */
.mainGamePage_mobilegridcell_92 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_92 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_93 */
.mainGamePage_mobilegridcell_93 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_93 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_26 */
.mainGamePage_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_27 */
.mainGamePage_mobilegridcell_27 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_94 */
.mainGamePage_mobilegridcell_94 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_94 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_95 */
.mainGamePage_mobilegridcell_95 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_95 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_96 */
.mainGamePage_mobilegridcell_96 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_96 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_97 */
.mainGamePage_mobilegridcell_97 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_97 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_98 */
.mainGamePage_mobilegridcell_98 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_98 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_99 */
.mainGamePage_mobilegridcell_99 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_99 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_100 */
.mainGamePage_mobilegridcell_100 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_100 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_101 */
.mainGamePage_mobilegridcell_101 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_101 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_28 */
.mainGamePage_mobilegridcell_28 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_29 */
.mainGamePage_mobilegridcell_29 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_29 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_102 */
.mainGamePage_mobilegridcell_102 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_102 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_103 */
.mainGamePage_mobilegridcell_103 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_103 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_104 */
.mainGamePage_mobilegridcell_104 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_104 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_105 */
.mainGamePage_mobilegridcell_105 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_105 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_106 */
.mainGamePage_mobilegridcell_106 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_106 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_107 */
.mainGamePage_mobilegridcell_107 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_107 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_108 */
.mainGamePage_mobilegridcell_108 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_108 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_109 */
.mainGamePage_mobilegridcell_109 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.mainGamePage_mobilegridcell_109 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilefooter */
.mainGamePage_mobilefooter {
	min-height:38px;
}